export RUCIO_WEBUI_RUCIO_AUTH_HOST="https://rucio-devmaany.cern.ch"
export RUCIO_WEBUI_RUCIO_HOST="https://rucio-devmaany.cern.ch"
export RUCIO_WEBUI_HOSTNAME="localhost:3000"
export RUCIO_WEBUI_ENABLE_SSL="false"
# CA_BUNDLE is required if you are have enabled SSL. This CA bundle should verify the SSL certificate of the Rucio server.
# export RUCIO_WEBUI_CA_BUNDLE="/path/to/ca-bundle.pem"
export RUCIO_WEBUI_PROJECT_URL="https://atlas.cern/"

export RUCIO_WEBUI_MULTIVO_ENABLED="true"
export RUCIO_WEBUI_VO_DEFAULT="def"
export RUCIO_WEBUI_VO_LIST="def,atl"

export RUCIO_WEBUI_VO_DEF_NAME="Default"
export RUCIO_WEBUI_VO_DEF_LOGO="https://rucio.cern.ch/static/img/rucio-logo.png"
export RUCIO_WEBUI_VO_DEF_OIDC_ENABLED="false"

export RUCIO_WEBUI_VO_ATL_NAME="ATLAS"
export RUCIO_WEBUI_VO_ATL_LOGO="https://atlas.cern/wp-content/uploads/2018/11/ATLAS-Logo-1.png"
export RUCIO_WEBUI_VO_ATL_OIDC_ENABLED="true"
export RUCIO_WEBUI_VO_ATL_OIDC_PROVIDERS="cern"

export RUCIO_WEBUI_OIDC_ENABLED="true"
export RUCIO_WEBUI_OIDC_PROVIDERS="cern"
export RUCIO_WEBUI_OIDC_PROVIDER_CERN_CLIENT_ID="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
export RUCIO_WEBUI_OIDC_PROVIDER_CERN_CLIENT_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
export RUCIO_WEBUI_OIDC_PROVIDER_CERN_AUTHORIZATION_URL="https://oauth.web.cern.ch/OAuth/Authorize"
export RUCIO_WEBUI_OIDC_PROVIDER_CERN_TOKEN_URL="https://oauth.web.cern.ch/OAuth/Token"
export RUCIO_WEBUI_OIDC_PROVIDER_CERN_REDIRECT_URL="https://oauth.web.cern.ch/OAuth/REDIRECT"
export RUCIO_WEBUI_OIDC_PROVIDER_CERN_USERINFO_URL="https://oauthresource.web.cern.ch/api/User"
export RUCIO_WEBUI_OIDC_PROVIDER_CERN_REFRESH_TOKEN_URL="https://oauthresource.web.cern.ch/api/refresh"
