@import '@primer/css/alerts/index.scss';
@import '../../scss/main.scss';

@mixin animate($animation, $duration, $method, $times) {
    animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
}

.rucio-alert {
    @extend .flash;
    z-index: 999;
    display: flex;
    flex-direction: row;
    opacity: 1;
    position: absolute;
    width: 98.5%;
    top: 10px;
    @include keyframes(customAnimation) {
        0% {
            top: -50px;
            opacity: 0;
        }
        50% {
            top: 10px;
            opacity: 1;
        }
        100% {
            top: -50px;
            opacity: 0;
        }
    }
    @include animate(customAnimation, 5s, ease-in-out, 1);
    &.success {
        @extend .flash-success;
    }
    &.warn {
        @extend .flash-warn;
    }
    &.error {
        @extend .flash-error;
    }
}
