# ⚠️ The SECRET_COOKIE_PASSWORD should never be inside your repository directly
# For local development, you should store it inside a `.env.local` gitignored file
# See https://nextjs.org/docs/basic-features/environment-variables#loading-environment-variables
# You can generate a random 32 character string at https://1password.com/password-generator/ 

SESSION_PASSWORD=2gyZ3GDw3LHZQKDhPmPDL3sjREVRXPr8