{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "react-app",
      "react-app/jest"
    ],
    "ignorePatterns": [
      "node_modules",
      "dist"
    ],
    "rules": {
      "no-console":"error"
    }
}