.rucio-textinput {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: 0;
    cursor: pointer;
    display: inline-block;
    line-height: 1.2;
    font-family: Poppins-Regular;
    color: #333333;
    font-size: 18px;
    border-radius: 10px;
    display: block;
    background: transparent;
    height: 30px;
    padding: 0 20px;
}
.rucio-textinput--primary {
    color: white;
    background-color: #1ea7fd;
}
.rucio-textinput--secondary {
    color: #333;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.rucio-textinput--small {
    font-size: 12px;
    padding: 10px 16px;
}
.rucio-textinput--medium {
    font-size: 14px;
    padding: 11px 20px;
}
.rucio-textinput--large {
    font-size: 16px;
    padding: 12px 24px;
}

input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}
input:focus:-moz-placeholder {
    color: transparent;
}
input:focus::-moz-placeholder {
    color: transparent;
}
input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}
textarea:focus:-moz-placeholder {
    color: transparent;
}
textarea:focus::-moz-placeholder {
    color: transparent;
}
textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #555555;
}
input:-moz-placeholder {
    color: #555555;
}
input::-moz-placeholder {
    color: #555555;
}
input:-ms-input-placeholder {
    color: #555555;
}

textarea::-webkit-input-placeholder {
    color: #555555;
}
textarea:-moz-placeholder {
    color: #555555;
}
textarea::-moz-placeholder {
    color: #555555;
}
textarea:-ms-input-placeholder {
    color: #555555;
}

label {
    display: block;
    margin: 0;
}

.txt1 {
    font-family: Montserrat-SemiBold;
    font-size: 16px;
    color: #555555;
    line-height: 1.5;
}

.txt2 {
    font-family: Poppins-Regular;
    font-size: 14px;
    color: #999999;
    line-height: 1.5;
}
