$color_1: #555555;
$color_2: #333333;
$color_3: #fff;
$color_4: #000;
$font-family_1: Poppins-Regular, sans-serif;
$font-family_2: Poppins-Regular;
$font-family_3: Poppins-Medium;
$font-family_4: 'Montserrat', sans-serif;
$background-color_1: #f7f7f7;
$background-color_2: #333333;

$font-family_1: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
$font-family_2: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    height: 100%;
    margin: 0;
    font-family: $font-family_1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    height: 100%;
    font-family: $font-family_1;
}
label {
    display: block;
    margin: 0;
}
code {
    font-family: $font-family_2;
}
.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
}
.wrap-login100 {
    width: 680px;
    background: #fff;
    border-radius: 10px;
    position: relative;
}
.login100-form {
    width: 100%;
}
.login100-form-title {
    width: 100%;
    display: block;
    font-size: 39px;
    color: $color_1;
    line-height: 1.2;
    text-align: center;
}
.wrap-input100 {
    width: 100%;
    position: relative;
    background-color: $background-color_1;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
}
.input100 {
    font-family: $font-family_2;
    color: $color_2;
    line-height: 1.2;
    font-size: 18px;
    display: block;
    width: 100%;
    background: transparent;
    height: 60px;
    padding: 0 20px;
    &:focus {
        + {
            .focus-input100 {
                visibility: visible;
                opacity: 1;
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
                transform: scale(1);
            }
        }
    }
}
.focus-input100 {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
}
.eff-focus-selection {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 60px;
    background-color: $background-color_2;
    border-radius: 10px;
    font-family: $font-family_3;
    font-size: 16px;
    color: $color_3;
    line-height: 1.2;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
    &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        top: 0;
        left: 0;
        opacity: 0;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }
    &:hover {
        &:before {
            opacity: 1;
        }
    }
}

.rucio-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.rucio-flex-item {
    margin: auto 5px;
}

.container-card {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
}
.wrap-card {
    border-radius: 1px;
    height: 40%;
    width: 60%;
    padding: 20px 20px 20px 20px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
}
#notfound {
    position: relative;
    .notfound {
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}
.notfound {
    width: 100%;
    text-align: center;
    .notfound-404 {
        height: 280px;
        position: relative;
        h1 {
            font-size: 10vw;
            margin: 0px;
            font-weight: 900;
            position: relative;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            // background: url('../images/bg.jpg') no-repeat;
            -webkit-text-fill-color: transparent;
            background-size: cover;
            background-position: center;
        }
    }
    h2 {
        font-family: $font-family_4;
        text-align: center;
        color: $color_4;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 0;
    }
    p {
        font-family: $font-family_4;
        text-align: center;
        color: $color_4;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 20px;
        margin-top: 0px;
    }
}

@media (max-width: 768px) {
    .wrap-login100 {
        padding-left: 60px;
        padding-right: 60px;
    }
    @media (max-width: 576px) {
        .wrap-login100 {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}
