@import 'bulma/sass/components/card.sass';

.rucio-card {
    @extend .card;
    &.image {
        @extend .card-image;
    }
    &.header {
        @extend .card-header;
    }
    &.header-title {
        @extend .card-header-title;
    }
    padding-bottom: 20px;
    max-width: 80%;
    margin: 0 10% 0 10%;
}
