.rucio-card {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: 0;
    border-radius: 3em;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    background: #fff;
    border-radius: 10px;
    position: relative;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
    padding: 1rem;
}

@media (max-width: 768px) {
    .wrap-login100 {
        padding-left: 60px;
        padding-right: 60px;
    }

    @media (max-width: 576px) {
        .wrap-login100 {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}
