@import url('agGridThemeRucio.css');

.ag-grid-theme-rucio-dark {
	/* Equals to tailwind's neutral.800 */
	--ag-background-color: var(--ag-inherited-background-color, #1E293B);
	/* Equals to tailwind's neutral.100 */
	--ag-foreground-color: var(--ag-inherited-foreground-color, #F1F5F9);
	--ag-text-color: var(--ag-inherited-text-color, var(--ag-foreground-color));
	/* Equals to tailwind's neutral.700 */
	--ag-header-background-color: var(--ag-inherited-header-background-color, #334155);
	--ag-header-text-color: var(--ag-inherited-header-text-color, var(--ag-foreground-color));
	--ag-color-scheme: var(--ag-inherited-color-scheme, dark);
}