@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/base/_all.sass';
@import 'bulma/sass/elements/_all.sass';
@import 'bulma/sass/components/dropdown.sass';

.rucio-dropdown {
    @extend .dropdown;
    &.active {
        @extend .is-active;
    }
}
option {
    text-align: left;
}

option:hover {
    background-color: #f5f5f5ff;
    color: #0a0a0aff;
}
