name: API and Component Tests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  test:
    name: Test API and Components
    strategy:
      matrix:
        node-version: [16.14.0, 18.5.0]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm install
      - name: Run Component Tests
        run: npm run test:component
      - name: Run API Tests
        run: npm run test:api
    
